.modal {
  background: #000;
  color: #fff;
  width: 50rem;
  height: 20rem;
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 3rem;
}
.modal span {
  display: block;
  margin-top: 0.5rem;
}

.input {
  display: block;
  margin-top: 1rem;
  padding: 1rem;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  border: 1px solid #fff;
  outline: none;
  margin-bottom: 2rem;
}
