.post {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: flex-start;
}
.number {
  color: #828282;
  width: 2rem;
  text-align: right;
  margin-right: 0.3rem;
}

.content {
  flex: 1;
}

.title {
  display: inline;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.url {
  color: #828282;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.url:hover {
  text-decoration: underline;
}

.metadata {
  display: block;
  line-height: 1.5;
  font-size: 1rem;
  color: #828282;
}

.metadata a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.metadata a:hover {
  text-decoration: underline;
}
