* {
  box-sizing: border-box;
}
.App {
  width: 80vw;
  margin: 0.5rem auto;
  font-size: 0.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(246, 246, 239);
}

.widgets {
  display: flex;
  flex-wrap: wrap;
}

header {
  background-color: #ff6600;
  padding: 0.3rem;
  width: 100%;
}

.widget {
  /* border-right: 2px solid #828282; */
  flex: 1;
}

.widget h1 {
  font-weight: bold;
  font-size: inherit;
}

.topic {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 0.2rem;
  padding-left: 1rem;
  text-transform: capitalize;
}

.content {
  padding: 1rem;
  overflow-y: scroll;
  height: 30rem;
  width: 30rem;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
  background: #ff0000;
} */
