* {
  box-sizing: border-box;
}
.App {
  width: 85vw;
  margin: 0.5rem auto;
  background-color: rgb(246, 246, 239);
  padding-bottom: 4rem;
  font-size: 1.33rem;
}

@media only screen and (max-width: 600px) {
  .App {
    width: 100vw;
    margin: 0;
    font-size: 1.4rem;
  }
}

.widgets {
  display: flex;
  flex-wrap: wrap;
}

header {
  background-color: #ff6600;
  padding: 0.3rem;
  width: 100%;
}

header a {
  text-decoration: none;
  color: inherit;
}

header strong {
  margin-right: 1rem;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
  background: #ff0000;
} */

.btn {
  display: inline-block;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  border: none;
  font-size: inherit;
  font-family: inherit;
  padding: 0;
  outline: none;
}

.btn-white {
  color: #fff;
}

.btn:hover {
  text-decoration: underline;
}
